<h4>Sign in!</h4>

<div><%= @message %></div>

<br><br>

<%= form_tag("/login", method: "post") do %>

  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><br>

  <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %>

  <%= submit_tag("Submit") %>
<% end %>
